# AWS Region
VITE_AWS_REGION=us-east-1

# Amazon Cognito Configuration
VITE_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX

# API Gateway Endpoint URL
VITE_API_ENDPOINT=https://pexoimesc4.execute-api.ap-southeast-2.amazonaws.com/develop
